.cart_container {
  min-height: 100vh;
  background-color: #ffffff;
  font-size: 2rem;

  h1 {
    text-align: center;
    font-size: 30px;
  }
}
.btn_cart {
  display:flex;
  justify-content: center;
}