.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 15px;
  text-indent: 40px;
  line-height: 2;
  text-align: center;
  font-size: 1.3em;

  img {
    max-width: 60%;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.5em;
  }
}
.card_img {
  max-width: 30% !important;
}

@media (max-width: 772px) {
  .container {
    display:flex !important;
    flex-direction: column !important;
  }
}

